.bg-border {
    border: #326E51 3px solid;
}

.head-table {
    background-color: #F7F7F7;
}

.txt-999 {
    color: #999;
}

.btn-checkout {
    background-color: #FF6600;
    width: 100%;
}

.cart {
    width: 90%;
    padding: 10px;
}