.navbar-brand {
  font-weight: bold;
  color: #ffc107; 
}
  
.search button {
  background-color: #ffc107;
  border: none;
  color: white;
}
  
.search button:hover {
  background-color: #e0a800; 
}
  
.navbar-nav .nav-item .nav-link {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}
  
.navbar-nav .nav-item .nav-link:hover {
  color: #ffc107; 
}
  