<section class="ftco-section position-fixed w-100">
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light py-3"
    id="ftco-navbar"
  >
    <div class="w-100 row">
      <div class="col-2 d-flex align-items-center justify-content-center">
        <a class="navbar-brand" href="index.html">Cosmetic</a>
      </div>
      <!-- <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#ftco-nav"
        aria-controls="ftco-nav"
        aria-expanded="false"
        aria-label="Mở menu"
      >
        <span class="fa fa-bars"></span> Menu
      </button> -->
      <div class="collapse navbar-collapse col-10" id="ftco-nav">
        <ul class="navbar-nav m-auto">
          <li class="nav-item active">
            <a href="#" class="nav-link">Trang chủ</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="dropdown04"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Trang</a
            >
            <ul class="dropdown-menu" aria-labelledby="dropdown04">
              <li><a class="dropdown-item" href="#">Trang 1</a></li>
              <li><a class="dropdown-item" href="#">Trang 2</a></li>
              <li><a class="dropdown-item" href="#">Trang 3</a></li>
              <li><a class="dropdown-item" href="#">Trang 4</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Danh mục</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <button
              [routerLink]="['/auth/login']"
              routerLinkActive="router-link-active"
              class="nav-link"
            >
              Đăng nhập
            </button>
          </li>
          <li class="nav-item">
            <button
              [routerLink]="['/auth/register']"
              routerLinkActive="router-link-active"
              class="nav-link"
            >
              Đăng ký
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>
