.banner-img{
    height: 500px;
    object-fit: cover;
}
.container-home{ 
    width: 90%;
}
.carousel-inner{
    box-shadow:1px solid black ;
}

#box_giaohang{
    height: 500px;
    border-radius: 5px;
}

.categories-home {
    width: 89%;
    border-radius: 5px;
    border: 1px solid rgb(179, 179, 179);
}

.categories-home {
    text-align: center;
}
  
.category-item {
    width: 150px;
}
  
.category-img {
    border: 1px solid rgb(12, 239, 239);
    width: 100%;
    height: 200px !important;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
p {
    font-size: 16px;
    font-weight: 500;
}
  